.halfsection-background-image {
    position: relative;
    display:block;
    width:100vw;
    height:50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.halfsection-background-image:hover {
    top:10px;
}