.homepage-background {
    background-image: url('../../assets/background.png');
    background-color: black;
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;
}

.homepage-text {
    color: white;
}