.homepage-background {
    background-image: url('../../assets/background.png');
    background-color: rgb(255, 255, 255);
    background-position: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-origin: border-box;
}

.homepage-text {
    color: white;
}